.list {
  list-style-type: none;
  margin-left: 60px;
}
.img {
  display: block;
  width: 800px;
  height: 500px;
  padding-top: 20px;
}
.input {
  width: 500px;
  margin-top: 30px;
  margin-left: 100px;
  padding: 5px;
}
.county {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}
.bodys {
  background-color: antiquewhite;
}
